@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">C# MUSIC</h1>
    <p> <a href="https://www.youtube.com/watch?v=5Nd7EZ3k39s"> A melhor loja virtual de instrumentos do Brasil</a>.</p>
</div>
