@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Claro, aqui está um exemplo de texto padrão de direitos autorais para o site C# Music:

    ---

    © [Ano Atual] C# Music. Todos os direitos reservados.

    Todo o conteúdo deste site, incluindo, mas não se limitando a texto, imagens, áudio e vídeo, é propriedade da C# Music ou de seus fornecedores de conteúdo e está protegido por leis de direitos autorais internacionais. É proibida qualquer reprodução, redistribuição, modificação ou publicação do conteúdo deste site sem autorização prévia por escrito da C# Music.

    C# Music respeita os direitos autorais de terceiros e espera que os usuários deste site façam o mesmo. Se você acredita que seus direitos autorais foram violados por qualquer material encontrado neste site, entre em contato conosco imediatamente para que possamos investigar a questão.

    Marcas registradas mencionadas neste site são propriedade de seus respectivos proprietários.

    Ao acessar este site, você concorda em respeitar todos os direitos autorais e outros direitos de propriedade intelectual, bem como quaisquer termos e condições adicionais fornecidos neste site.

    Obrigado por visitar C# Music.
</p>
